@use "./typography";
@use "./variables" as *;
@use "./mixins" as *;

//resets
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//basic tags
body {
    @include text-regular;
    font-family: "Merriweather Sans";
}

h1 {
    font-size: 1.25rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    @include tablet {
    font-size: 2.25rem;
    padding-top: 1.5rem;
    padding-bottom: 2.25rem;
    }
}

h2 {
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

p,
a,
input,
select,
option {
    font-size: 1rem;
    text-decoration: none;
}

label {
    color: $tertiary-color-alt;
}

//navbar
.navbar {
    background-color: $secondary-color;

    &__container {
        height: 5rem;
        display: flex;
        align-items: center;
        width: 100%;
        @include container;
    }
&__home {
    z-index: 2;
}
    &__logo {
        height: 3.125rem;
        width: 3.125rem;
    }

    &__title {
        color: $tertiary-color;
        margin: auto;

        @include tablet {}
    }

    &__spacer {
        width: 3.125rem;
    }
}


//footer
.footer {
    background-color: $secondary-color;

    &__container {
        min-height: 8rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        @include container;
    }

    &__info {
        padding: 1rem 0;

    }

    &__subheader {
        @include text-bold;
        padding-bottom: 0.5rem;
    }

    &__email {
        padding-top: 1rem;
        color: $tertiary-color;
    }

    &__copy {
        padding-top: 1.5rem;
        padding-bottom: 2rem;
        text-size-adjust: 85%;
 
    }

    &__social {
        width: 100%;
        display: flex;
        padding-top: 3rem;
        align-items: flex-end;
        
    }
    &__header {
        padding-right: 4rem;
        padding-bottom: .375rem;
        font-size: 1.25rem;
    }

    &__icon {
        height: 3.125rem;
        width: 3.125rem;
    }
}