//colors
$primary-color: #FFF5E1;
$primary-color-alt: #FFFF;
$secondary-color: #FFAA00; 
$tertiary-color: #1A1A1A;
$tertiary-color-alt: #9b6db3;
$correct-color: #4CAF50;
$incorrect-color: #E74C3C;

//device variables
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;
