@use "./partials/global";
@use "./partials/typography";
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

.hero {
    background-image: url(../assets/images/mystery-box-collage.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20rem;
    position: relative;
    cursor: pointer;
    transition: height 0.5s ease, opacity 0.5s ease;

    @include tablet {
        height: 30rem;
    }

    @include desktop {
        height: 55rem;
    }

    &__title {
        z-index: 1;
        color: $primary-color-alt;
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgba(from $secondary-color r g b / 0.8);
        position: relative;
        z-index: 2;
        transition: opacity 0.5s ease;
        padding: 1.5rem 1rem;

        &--hidden {
            height: 0;
            padding: 0;
        }

        &::after {
            content: "How much do you know?";
            transition: content 0.3s ease;
        }

        &:hover::after {
            content: "Scroll to find out!";
            display: flex;
            justify-content: center;
            width: 100%;

            @include desktop {
                content: "Click to find out!";
            }
        }
    }

    &--is-clicked {
        height: 0;
        opacity: 0;
    }

    &--hidden {
        display: none;
    }
}

.no-scroll {

    //maybe dangerous
    @include desktop {
        overflow: hidden;
    }
}

.preferences {
    background-color: $primary-color;
    padding-bottom: 3.4rem;

    &--hidden {
        display: none;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        // height: 100vh;
        @include container;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        overflow: auto;
        // padding-bottom: 3rem;
    }

    &__button {
        border: none;
        background-color: $tertiary-color;
        color: $primary-color-alt;
        text-transform: uppercase;
        @include text-bold;
        width: 7.5rem;
        height: 2rem;
        margin: 1rem 0;
        border-radius: .3125rem;

        &:hover {
            background-color: $secondary-color;
            box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 .375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
        }

        &:active {
            box-shadow: none;
            position: relative;
            transform: translate(0, 0.5rem);
        }
    }

    &__label {
        padding-bottom: .5rem;
        padding-top: 1rem;

    }

    &__num-input {
        @include form-style;
    }

    &__dif-dropdown {
        @include form-style;
    }

    &__cat-dropdown {
        @include form-style;

    }

    &__type-dropdown {
        @include form-style;
    }
}


.questions {
    &--hidden {
        display: none;
    }

    &__container {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 40rem;
        max-height: 44rem;
        @include tablet {
            min-height: 30rem;
        max-height: 35rem;
    }
        @include desktop {
        min-height: 34rem;
        max-height: 33.8125rem;
        }
        flex-wrap: wrap;
        // justify-content: center;
        padding: 2rem;
    }

    &__question {
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;

        &--hidden {
            display: none;
        }
    }

    &__options {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        // gap: 3rem;
        padding: 0 1rem;

        @include tablet {
            margin-bottom: 2rem;
            padding: 0 5rem;
        }
    }

    &__answer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        @include text-medium;
        background-color: $tertiary-color-alt;
        color: $primary-color-alt;
        height: 4rem;
        border-radius: .25rem;
        margin: 1rem;

        @include tablet {
            width: 40%;

        }

        &:not(.questions__answer--correct, .questions__answer--incorrect):hover {
            background-color: $secondary-color;
        }

        &--correct {
            background-color: $correct-color;
        }

        &--incorrect {
            background-color: $incorrect-color;
        }

    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: $tertiary-color;
        color: $primary-color-alt;
        text-transform: uppercase;
        @include text-bold;
        width: 9rem;
        height: 3rem;
        margin: 1rem 0;
        border-radius: .3125rem;

        &:hover {
            background-color: $secondary-color;
            box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 .375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
        }

        &:active {
            box-shadow: none;
            position: relative;
            transform: translate(0, 0.5rem);
        }

        &--hidden {
            // visibility: hidden;
            display: none;
        }
    }

    &__score {
        display: flex;
        align-items: center;
        justify-content: center;
        // text-align: center;
        // padding-top: 5rem;
        padding-bottom: 5rem;
        text-align: center;
        // margin-bottom: 12rem;
        font-size: 2.25rem;

        @include tablet {
            font-size: 3.5rem;
        }
        @include desktop {

            font-size: 5rem;
        }
    }

    &__retry {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background-color: $tertiary-color;
        color: $primary-color-alt;
        text-transform: uppercase;
        @include text-bold;
        width: 9rem;
        height: 3rem;
        margin: 1rem 0;
        border-radius: .3125rem;

        &:hover {
            background-color: $secondary-color;
            box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 .375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
        }

        &:active {
            box-shadow: none;
            position: relative;
            transform: translate(0, 0.5rem);
        }

        &--hidden {
            // visibility: hidden;
            display: none;
        }

    }
}